connections {
  azure {
    version = 2
    local_addrs = 10.1.0.0/16
    remote_addrs = {{ VNET_REMOTE_IPV4 }}
    local_id = {{ VNET_LOCAL_IPV4 }}
    remote_id = 172.214.195.34
    local_ts = 192.168.1.0/24
    remote_ts = 10.0.2.0/24
    proposals = aes256-sha2_256-modp2048
    dpd_delay = 30s
    dpd_timeout = 120s
    dpd_action = clear
    keying_tries = %forever
    mobike = no
    rekey = yes
    reauth = yes
    fragmentation = yes
    children {
      net-net {
        esp_proposals = aes256-sha2_256
        start_action = start
      }
    }
    # Authentication
    local {
      auth = psk
      secret = LEAWo5iKjgNuTobQfsC8cf81yTkLikzKIi17Z/i6NbY=
    }
    remote {
      auth = psk
      secret = LEAWo5iKjgNuTobQfsC8cf81yTkLikzKIi17Z/i6NbY=
    }
  }
}

secrets {
  %any %any : PSK "LEAWo5iKjgNuTobQfsC8cf81yTkLikzKIi17Z/i6NbY="
}