:root {
    --accent: #ed5b00;
    --bg1: #111111;
    --bg2: #222222;
    --bg3: #333333;
    --bg4: #444444;
    --bg5: #555555;

    --accent-minor: 0.25vh;
    --accent-major: 0.5vh;

    color: white;
    background: var(--bg1)
}

.header {
    background: var(--bg4);
    padding-block: 1vh;
    border-bottom: var(--accent) solid var(--accent-major);
    display: flex;
    flex-direction: row;
}

button {
    color: white;
    background: var(--bg4);
    border: var(--accent) solid var(--accent-minor);
    padding-inline: 1vw;
}

