name: Continuous Integration

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  bootstrap:
    runs-on: ubuntu-24.04
    container: debian:bookworm
    services:
      docker:
        image: docker:dind
        options: --privileged --shm-size 2g 
    steps:
      - uses: actions/checkout@v4
      - name: Bootstrap ansible
        run: apt-get update; apt-get install -y ansible make
      - name: Bootstrap project environment
        run: make ci
